<!-- <div class="center hidden-menu">
    {{ $IsNavbarPage := false }}
    {{ $currentPage := .Title }}
    {{ range $i, $el := .Site.Menus.main }}
        {{ if eq $currentPage $el.Name }}
            {{ if not $IsNavbarPage }}
                {{ $IsNavbarPage = true }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if not $IsNavbarPage }}
        <p>#{{ $currentPage }}</p>
    {{ end }}
</div> -->

<div style="float: left; margin-left: 20px;">
    {{ range sort .Site.Taxonomies.tags "Count" "desc" }}
					
							<span  style="margin-left: 20px;" >
								
									<a href="{{ .Page.Permalink }}">
										
										# {{ .Page.Title }} ({{ .Count }})
									</a>
								
							</span>
					
{{ end }}
</div>
